{% extends "base.html" %}
{% block content %}
<div class="post">
  <div class="post-heading">
    <div class="poem-title">
      {{post.title}}
    </div>
      <div class="post-info">
        <div class="date-and-user">
          <div class="username">{{post.username}}</div>
          <div class="divider">|</div>
          <div class="date-created">
            {{post.created.strftime("%b %d, %Y")}}</div>
        </div>
        <div class="likes">Likes: {{post.likes}}</div>
      </div>
    </div>
  </div>
  <article class="poem-body">
    {{post.poem}}
  </article>
  <div class="post-links">
    <div class="edit-link"><a href="/post/edit/{{post.key().id()}}">Edit</a></div>
    <div class="delete-link"><a href="/post/delete/{{post.key().id()}}">Delete</a></div>
    <div class="comment-link"><a href="/post/comment/{{post.key().id()}}">Comment</a></div>
  </div>
  {% for comments in commentary %}
    <div class="commentary">
      <div class="commentary-header">
        <div class="username">{{comments.username}}</div>
        <div class="divider">|</div>
        <div class="date-created">
          {{comments.created.strftime("%b %d, %Y")}}</div>
      </div>
      <br>
      <article class="comment-body">{{comments.comment}}</article>
      <br>
    </div>
    <div class="comment-option-header">
      <a class="edit-comment-link" href="/post/comment/edit/{{comments.key().id()}}">Edit</a>
      <div class="divider">|</div>
      <a class="delete-comment-link" href="/post/comment/delete/{{comments.key().id()}}">Delete</a>
    </div>
    <hr>
  {% endfor %}
{% endblock %}
